/* UTILITIES */
.button{
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
}

.container-small{
    width: 50%;
    margin: 0 auto;
}


/* HEADER */
header{
    background-color: #2c3e51;
    height: 80px;
}

/* BANNER */
.box-img{
    width: 50%;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .box-img{
        width: 20%;
    }
}

#banner-section{
    background-color: #1abc9c;
}

/* PORTFOLIO */

img{
    max-width: 100%;
    border-radius: 20px;
}

img:hover{
    transform: scale(1.1);
}

/* ABOUT */
#about-section{
    background-color: #1abc9c;
}

/* CONTACT ME */
.cta{
    background-color: #1abc9c;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.form-control{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.form-control:focus{
    box-shadow: none;
}

.btn-primary{
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
}

.btn:first-child:hover, :not(.btn-check)+.btn:hover{
    background-color: #16ab8e;
    border: 1px solid #16ab8e ;
}

/* FOOTER */
#footer-section{
    background-color: #3a546d;
}

.icon{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    width: 37px;
    height: 37px;
    vertical-align: middle;
    text-align: center;
}

#copyright-section{
    background-color: #2c3e51;
}

