header{
    background-color: #2c3e51;
    height: 80px;
}

.container-small{
    width: 60%;
    margin: 0 auto;
}

.box-img{
    width: 50%;
    margin: 0 auto;
}

#banner-section{
    background-color: #1abc9c;
}


.menu-xl{
    display: none;
}

@media screen and (min-width: 768px) {
    .menu-small{
        display: none;
    }

    .menu-xl{
        display: block;
    }
}

img{
    max-width: 100%;
    border-radius: 20px;
}

#about-section{
    background-color: #1abc9c;
}

#footer-section{
    background-color: #3a546d;
}

#copyright-section{
    background-color: #2c3e51;
}

.button{
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
}